[Unit]
Description=Alopex Window Manager
Before=initrc.target
After=xorg.target
 
[Service]
Requires=xorg.target
Environment=DISPLAY=:0
Environment=PATH=%h/.bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/bin/core_perl:%h/.gem/ruby/2.0.0/bin:/opt/android-sdk/platform-tools:/opt/android-sdk/tools
Environment=BROWSER=/usr/bin/dwb
Environment=EDITOR=/usr/bin/vim
ExecStart=/usr/bin/alopex "conky -c %h/.conkyrc"
Restart=always
RestartSec=10
  
[Install]
WantedBy=wm.target
