[Unit]
Description=Alopex Window Manager
Before=initrc.target
After=xorg.target
After=fonts.service
Requires=xorg.target

[Service]
Environment=SHELL=/usr/bin/zsh
Environment=BROWSER=/usr/bin/aurora
Environment=TERMINAL=/usr/bin/urxvtc
Environment=EDITOR=/usr/bin/vim
Environment=PAGER=/usr/bin/vimpager
ExecStart=/usr/bin/alopex "/usr/bin/vulpes"
Restart=always
RestartSec=10
  
[Install]
WantedBy=wm.target
