[Unit]
Description=A dmenu-esque notification daemon
After=xorg.target

[Service]
ExecStart=/usr/bin/dunst
Environment=DISPLAY=:0

[Install]
WantedBy=initrc.target
