[Unit]
Description=Pulse Audio Server

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/pulseaudio --start
ExecStop=/usr/bin/pulseaudio --kill

[Install]
WantedBy=initrc.target
