[Unit]
Description=ttwm
Before=initrc.target
After=xorg.target
 
[Service]
Requires=xorg.target
Environment=DISPLAY=:0
Environment=PATH=/usr/bin/core_perl:%h/.bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/bin/ttwm "conky -c %h/.conkyrc"
Restart=always
RestartSec=10
  
[Install]
WantedBy=wm.target
