[Unit]
Description=a minimal but powerful notification daemon
After=xorg.target

[Service]
ExecStart=/usr/bin/twmnd
Environment=DISPLAY=:0

[Install]
WantedBy=initrc.target
