[Unit]
Description=Load Feh Background
After=alopex.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash %h/.fehbg
RemainAfterExit=yes

[Install]
WantedBy=initrc.target
